# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/DrawableTree.class
/GIBSON_HLADKY_Resolution.class
/LogicParser$AntlrLexer.class
/LogicParser$AntlrParser$ANDContext.class
/LogicParser$AntlrParser$BICONDITIONContext.class
/LogicParser$AntlrParser$CONDITIONContext.class
/LogicParser$AntlrParser$ExprContext.class
/LogicParser$AntlrParser$GROUPContext.class
/LogicParser$AntlrParser$NOTContext.class
/LogicParser$AntlrParser$ORContext.class
/LogicParser$AntlrParser$PROPOSITIONContext.class
/LogicParser$AntlrParser$RContext.class
/LogicParser$AntlrParser.class
/LogicParser.class
/Main.class
/Resolution.class
/Clause.class
